var/bootstrap.php.cache
var/cache/*
var/logs/*
var/sessions/*
vendor/*
composer.phar
app/config/parameters.yml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
