var/bootstrap.php.cache
var/cache/*
var/logs/*
var/sessions/*
vendor
app/config/parameters.yml
composer.phar

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
