{% extends 'base.html.twig' %}

{% block body %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="first-slide img-responsive" src="{{ asset('images/banner.jpg') }}">
    </div>
  </div>
</div><!-- /.carousel -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Which Lineup?</h1>
		  <p class="lead">Optimize your team with a statistically determined lineup!</p>
    </div>
  </div>
</div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets
    'css/index.css'%}

    <link href="{{ asset_url }}" rel="stylesheet">

  {% endstylesheets %}
{% endblock %}
