container_commands:
  01_migrate:
    command: php bin/console doctrine:migrations:migrate --env=prod --no-debug --no-interaction
    leader_only: true
  02_dumpassets:
    command: php bin/console assetic:dump --env=prod --no-debug
  99_clearcache:
    command: php bin/console cache:clear --env=prod --no-debug --no-warmup
